button, .button {
    background-color: $blue;
    color: #fff;
    font-size: 1.125em;
    font-family: $sans-serif;
    font-weight: bold;
    border: none;
    transition: all, 0.1s;
    padding: 0.5em 2em;
    border-radius: 8px;

    &:hover {
        background-color: $light-blue;
        cursor: pointer;
    }

    &.round {
        border-radius: 100px;
    }

    &.yellow {
        background-color: $yellow;
        color: $dark-gray;

        &:hover {
            background-color: $light-yellow;
        }
    }
}