#product-detail {
    #site-content {
        grid-row-start: 2;
        padding-top: 5em;
        display: grid;
        grid-template-columns: 40% 1fr;
        gap: 2em;
    }

    aside {
        > div {
            position: sticky;
            top: 2em;
        }
    }

    #sticky-action {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        padding: 1em 0;
        border-top: 1px dotted #EEE;
        background: #FFF;
        vertical-align: center;

        > div {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .img-wrapper {
        img {
            margin-bottom: -10px;
        }
    }

    .options {
        list-style-type: none;
        padding: 0;
        margin: 2em 0;

        li {
            border-top: 1px solid #EEE;
            padding: 1em 0;

            &:last-child {
                border-bottom: 1px solid #EEE;
            }
        }

        strong {
            display: block;
        }
    }

    // When size falls below 700px
    @media screen and (max-width: 700px) {
        #site-content {
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: 
            "img img img img"
            "asd asd asd asd";
            margin-bottom: 5em; //to account for fixed bar at bottom
        }

        aside {
            grid-area: asd;
            padding: 1em;
        }

        .img-wrapper {
            grid-area: img;
            display: flex;
            overflow-x: scroll;
            height: 300px;
            width: 100vw;
        }

        #sticky-action {
            padding: 2em 1em;
        }
    }
}