#rooms {
    grid-template-rows: 50px 1fr;

    .card {
        .display-flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    #page-heading {
        text-align: center;
        padding: 2em 0;
        margin-bottom: 2em;
        border-bottom: 1px solid #eee;
    }

    @media screen and (max-width: 1024px) and (min-width: 768px) {
        padding: 0 2em;
    }

    @media screen and (max-width: 768px) {
        .grid-of-cards {
            grid-template-columns: repeat(2, 1fr);
        }
        
        #brand {
            left: 0;
        }
    }

    @media screen and (max-width: 425px) {
        grid-template-rows: 0 1fr;

        #site-content {
            padding: 0 1em;
        }
        .grid-of-cards {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}