#site-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 0;
	grid-column: 1 / -1;
	grid-row-start: 1;
	margin-top: 50px;
	z-index: 1;

	#brand {
		max-width: 250px;
    }
    
    a {
		padding: 1em;
		
		&.active {
			position: relative;
			&:after {
				content: '';
				display: inline-block;
				position: absolute;
				width: 7px;
				height: 7px;
				background-color: $yellow;
				bottom: -5px;
				border-radius: 100px;
				left: 45%;
			}
		}
    }
}

//Global
#site-head-mobile {
    display: none;
}
@media screen and (max-width: 425px) {
    #site-head {
        display: none;
    }

    #site-head-mobile {
        grid-column: 1 / -1;
        display: block;
    }

    .topnav {
        overflow: hidden;
        position: relative;
		z-index: 2;

        #myLinks {
            display: none;
			background: white;
			position: fixed;
			left: 0;
			right: 0;
			bottom: 0;
			top: 67px;
			text-align: center;
			padding-top: 3em;
		}
		
        a {
            color: $dark-gray;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 25px;
            display: block;
            &:hover {
                background-color: #ddd;
                color: $dark-gray;
            }

            &.icon {
                background:none;
                display: block;
                position: absolute;
                right: 0;
				top: 0;
				
				img {
					position: relative;
					right: -20px;
					top: -2px;
				}
            }
        }

        img {
            width: 60%;
        }
    }
}