// Variables and Theme Settings

$yellow: #FFCA1E;
$blue: #0058A3;
$light-yellow: #FFD95F;
$light-blue: #003E73;
$dark-gray: #303030;

$sans-serif: -apple-system, system-ui, sans-serif;
$serif: 'PT Serif', serif;