// Typographic Rules
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    line-height: 1em;
    font-weight: bold;
    font-family: $serif;
    @media (max-width: 320px) {
        line-height: 1.3em;
    }
}

// Scale based off of Major Third Type Scale

h1, .h1 { font-size: 2.813em; }
h2, .h2 { font-size: 1.953em; }
h3, .h3 { font-size: 1.563em; }
h4, .h4 { font-size: 1.25em; }
h5, .h5 { font-size: 1em; }
h6, .h6 { font-size: 0.8em; }

footnote {
    opacity: 0.5;
}

.subheading {
    font-size: 1.2em;
    margin-top: -1em;
    opacity: 0.5;
    line-height: 1.2em;
}

.sale-label {
    background-color: $red;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    border-radius: 100px;
    padding: 0.5em 1em;
}

@media screen and (max-width: 700px) {
    font-size: 14px;
}