// Typographic Rules
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    line-height: 1.3em;
    font-weight: bold;
    font-family: 'adobe garamond', serif;
    text-transform: capitalize;
    @media (max-width: 320px) {
        line-height: 1.3em;
    }
}

// Scale based off of Major Third Type Scale

h1, .h1 { font-size: 2.441em; }
h2, .h2 { font-size: 1.953em; }
h3, .h3 { font-size: 1.563em; }
h4, .h4 { font-size: 1.25em; }
h5, .h5 { font-size: 1em; }
h6, .h6 { font-size: 0.8em; }
