/*

    Components

    Components are made up of individual elements -- Cards, Tables, Lists, etc.

    Started on May 11, 2017

    Contents:
    -   Accordion
    -   Article Flow
    -   Card Scroller
    -   Comparison Bar
    -   Dropdowns
    -   Gallery
    -   Lists
    -   Nav
    -   Share Bar
    -   Table
    -   Dealership List
    -   Slider Control
    -   For Deprecation
        -successwithbackground
        -stepper

    Edit list:
    May 11, 2017    Created to refactor and port declartions from deprecated ui.scss    - Nick
    May 11, 2017    Added the following items:
                    Accordions
                    Comparison bar
                    Dropdowns (withdropdown, dropdown, dropup, hoverdropdown)
                    Gallery
                    Lists
                    Nav (breadcrumb for formtemplate)
                    Sharebar
                    Table

                    - Kaye

    May 19, 2017    Added image grid declarations for - Nick

    May 23, 2017    - Nick
        > Added a class to share bar headers so that there is an option for a stacked header or a horizontal header. Check line 623 - 644

        > Added Article Flow which controls the size of Stand Out Cards on long article listing columns

    June 10, 2019   Added .pill class for navs - Nick

*/

@use 'utilities/universal/variables';

// Accordion
.accordion {
    dd {
        margin: 0;
        padding: 1em;
    }

    dt {
        display: block;
        padding: 1em 0 1em 0;

        &:last-of-type {
            border: none;
        }

        &:hover {
            color: variables.$brand-highlight;
            transition: color 0.2s;
            cursor: pointer;
        }

        &:after {
            font-family: 'icons' !important;
            content: "\e114";
            float: right;
            color: variables.$aluminum;
            transition: all 0.5s;
            position: relative;
            top: 0px;
        }

        &.active {
            color: variables.$brand-highlight;

            &:after {
                color: variables.$copycolor;
                content: "\e115";
                float: right;
            }
        }
    }
}

// Tooltip
// Note: created specific for insurance but currently not used. to be deleted
.tooltip-new{
    position: relative;
    display: inline-block;
    line-height: 1em;
    

    &:hover{
        &:before,&:after{
            opacity: 1;
        }
    }

    &:before{
        content: attr(data-message);
        padding: 7px 10px;
        font-size: 12px;
        font-weight: normal;
        border-radius: 3px;
        display: inline-block;
        position: absolute;
        opacity: 0;
        transition: ease all .3s;
        z-index: 99;
        text-align: left;
        width: 200px;
         white-space: normal;
    }
    

    &:after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        opacity: 0;
        transition: ease all .3s;
        border-width: 7px;
        z-index: 99;
    }

    &.expanded{
        &:before{
            width: unset;
            white-space: nowrap;
        }
    }

    &.success {
        &:before{ 
            background: #4EBB71;
        }
        &:after{
            border-top-color: #4EBB71;
        }
    }

    &.warning {
        &:before{
            background: variables.$paleyellow;
            color: #7B640B;
        }
        &:after{
            border-top-color: variables.$paleyellow;
        }
    }

    &.error {
        &:before{
            background: #FF7568;
        }
        &:after{
            border-top-color: #FF7568;
        }
    }

    &.inform {
        &:before{
            background: variables.$bluehighlight;
        }
        &:after{
            border-top-color: variables.$bluehighlight;
        }
    }

    &.neutral, &.gray {
        &:before{
            background-color: variables.$lightgray;
            color: variables.$gray !important;
        }
        &:after{
            border-top-color: variables.$lightgray;
        }
    }

    &.dark {
        &:before{
            background: variables.$black;
            color: variables.$white;
        }
        &:after{
            border-top-color: variables.$black;
        }
    }


    &.top{
        &:before{
            margin: 0 auto;
            right: 0%;
            bottom: 22px;
        }
        &:after {
            margin-left: -7px;
            top: -9px;
        }
    }

    &.bottom{
        &:before{
            top: 25px;
        }
        &:after {
            margin-left: -7px;
            top: 14px;
            transform: rotate(180deg);
        }
    }

    &.right{
        &:before{
            left: 30px;
            top: 100%;
            bottom: 100%;
            margin: auto 0;
            height: max-content;
        }
        &:after {
            margin-top: -7px;
            right: -10px;
            left: unset;
            top: 50%;
            transform: rotate(90deg);
        }
    }

    &.left{
        &:before{
            right: 30px;
            top: 100%;
            bottom: 100%;
            margin: auto 0;
            height: max-content;
        }
        &:after {
            margin-top: -7px;
            right: unset;
            left: -10px;
            top: 50%;
            transform: rotate(-90deg);
        }
    }
}

// Article Flow
#article-flow {
    #image-grid.card, #email-subscribe.card, #review.card, #video.card, #big-news.card {
        margin-left: -20px;
        margin-right: -20px;
        border-left: 0;
        border-right: 0;
        box-shadow: none;
        @extend .muted !optional;
    }

    #video.card {
        p {
            color: variables.$grayhighlight;
        }
    }
}

// Comparison bar
.comparisonbar {
    background-image: repeating-linear-gradient(-45deg, rgba(variables.$brand, 0.18), rgba(variables.$brand, 0.18) 25px, rgba(variables.$brandhighlight, 0.18) 25px, rgba(variables.$brandhighlight, 0.18) 50px);
    background-color: variables.$brand;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 6;
    width: 100%;
    color: variables.$white;
    font-size: 14px;

    &.mobile {
        position: static;

        .content { margin-top: 2px; }
        .button { margin: 0; }
    }

    .row {
        position: relative;
    }

    .comparisonbrand {
        position: absolute;
        top: -10px;
        right: 0;
    }

    .preloader {
        height: 34px;
    }

    .button {
        font-size: 10px;
        margin: 0 10px;
        padding: 4px 7px;
    }

    .closer {
        right: 10px;
        top: 17px;
        color: variables.$white;
        span { font-size: 13px; }
    }

    .card {
        min-height: 0 !important;

        .content {
            height: auto !important;
        }
    }

    .numberwrapper {
        background-color: variables.$white;
        color: variables.$darkgray;
        display: inline-block;
        padding: 1px 5px;
        border-radius: variables.$default-border-radius;
        height: 20px;
        width: 20px;

        &.empty {
            border: 1px dotted variables.$border;
            background: transparent;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .dropup {
        bottom: 37px;
        top: auto;
        right: auto;
        left: -10px;
        background: none;
        width: 320px;

        .arrow {
            right: auto;
            top: auto;
            bottom: -9px;
            left: 8px;
            border-top-color: variables.$border;
        }
    }
}

// Dropdowns
// Note: .dropup, .tooltipcomparison, .tooltipcontents is only being used for old static files and wiki page (dropup). to be deleted
.dropdown, .dropup, .tooltipcomparison, .tooltipcontents {
    position: absolute;
    z-index: index(variables.$elements, dropdown);
    top: 50px;
    right: 0;
    // padding: 3px 8px;
    background: variables.$white;
    min-width: 200px;
    border-radius: variables.$default-border-radius;
    // @include box-shadow-2();
    color: variables.$gray;
    text-transform: none;

    // > div {
    //  border: 1px solid variables.$border;
    //  background: variables.$white;
    // }

    &.blue {
        background-color: variables.$blue;
        color: variables.$white;

        .arrow {
            background: transparent;
            border-bottom-color: variables.$blue;
        }

        .close {
            color: variables.$white;
        }
    }

    &.dark {
        background-color: variables.$darkgray;
        color: variables.$white;
    }

    .arrow {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: none;
        border-bottom: 5px solid variables.$white;
        position: absolute;
        top: -5px;
        right: 30%;
        background: none;

        &.up.dark {
            border-bottom-color: variables.$darkgray;
        }
    }
}

// Withdropdown
.withdropdown, .withtooltip {
    position: relative;

    &:hover .tooltipcomparison { visibility: visible; }
    &:hover .tooltip { display: block; }
}

// Dropup
.dropup {
    .arrow {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: none;
        border-bottom: 10px solid variables.$white;
        position: absolute;
        top: -10px;
        right: 30%;
        background: none;
    }
}

// Hoverdropdown
.hoverdropdown {
    position: relative;

    &:hover {
        cursor: pointer;
    }

    .tabhover {
        transition: none !important;
    }

    .hovercontent { 
        display: none; 
        border-radius: variables.$default-border-radius;
        vertical-align: middle;

        &.right-aligned {
            right: 0;
        }
    }

    &:hover .hovercontent {
        position: absolute;
        display: block ;
        z-index: index(variables.$elements, dropdown);
        background-color: variables.$white;
        border: 1px solid variables.$platinum;
        overflow: hidden;
        box-shadow: 0px 3px 10px rgba(24, 24, 24, 0.1);
    }
}

// Gallery
.gallery {
    line-height: 0;
    background-color: variables.$darkgray;

    &.new:hover {
        .backdrop {
            opacity: 1;
        }

        .gallerycontrols a {
            bottom: 0;
        }
    }

    .thumbnailtoggle {
        display: block;
        margin: 0 auto;
        width: 20px;
    }

    .backdrop {
        opacity: 0;
        transition: all 0.1s;
        transition-delay: 0.2s;
    }

    .gallerycontrols.new {
        z-index: index(variables.$elements, gallerycontrols);
        width: 100%;
        bottom: 0;

        a {
            font-size: 1.2em;
            bottom: -50px;
            transition: all 0.2s ease-out;
            transition-delay: 0.3s;

            &.leftarrow { transition-delay: 0.4s; }

            &:hover {
                color: variables.$brandhighlight !important;
            }
        }

        &.white {
            a { color: variables.$white; }
        }

        &.dark {
            a { color: variables.$darkgray; }
        }
    }
}

.image-grid {
    img {
        border: 1px solid variables.$white;
        min-height: 100px;
        width: 100%;
        background: variables.$lightgray;
    }

    .thumb-container {
        width: 50%;
    }

    .link-container {
        .whitelink span {
            background: rgba(variables.$black, 0.8);
            right: 0;
            top: 30%;
        }
    }

    .single-thumb {
        .thumb-container { width: 100%; }

        @media screen and (min-width: 600px) {
            .whitelink span { top: 40%; }
        }
    }
}

.imagewrap {
    background-color: variables.$lightgray;
    border-bottom: 1px solid #DDD;
    border-radius: variables.$default-border-radius;
}

// Lists
ul, ol {
    &.nopad { padding-left: 0; }

    &.nostyle {
        list-style-type: none;
    }

    &.noindent {
        padding-left: 1em;
    }

    &.bordered {
        > li { border-bottom: 1px solid variables.$border; }
    }

    &.zebra {
        > li:nth-child(even) {
            background: variables.$grayhighlight;
        }
    }

    &.listgroup {
        @extend .bordered;
            border: 1px solid variables.$border;
        > li {
            padding: 0.75em;
            margin: 0;
            &:last-of-type {
                border: none;
            }
        }
    }
}

// Nav
nav {

    &.breadcrumb {
        font-size: 14px;
        width: 100%;
        
        a {
            display: inline-block;
            color: variables.$ash;
            font-size: 0.75em;
            padding: 0.3125em;
            padding-right: 0;

            &:hover {
                color: variables.$brand;
            }

            &:last-of-type {
                color: variables.$brandhighlight;
            }
        }

        > span:last-of-type {
            &:after {
                content: "";
            }
        }

        > span:after {
            font-family: 'icons' !important;
            content: "\e76f";
            padding-left: 0.75em;
            color: variables.$platinum !important;
            margin-top: 3px;
            position: relative;
            top: 1px;
            font-size: 11px;
        }

        .action {
            a:after {
                content: none;
            }

            a {
                border: 1px solid variables.$border;
                border-radius: variables.$default-border-radius;
                background-color: transparent;
                padding: 2px 10px;
                text-align: center;
            }
        }
    }

    &.tab {
        border-bottom: 1px solid variables.$border;
        border-top: 1px solid variables.$border;

        a {
            padding: 13px 20px;
            color: variables.$copycolor;
        }

        .active {
            background: variables.$darkgray;
            border: none;
            color: variables.$white;
        }

        .inactive {
            border: none;
            background: variables.$lightgray;

            &:hover { background: variables.$platinum;}
        }
    }

    &.simpletab {
        > a, > div {
            display: inline-block;
            font-family: variables.$basefont;
            font-size: 13px;
            margin-right: 20px;
            color: variables.$copycolor;

            &:hover { color: variables.$aluminum; }
        }

        .active {
            border-bottom: 1px solid variables.$gray;
        }

        &.small {
            font-size: 13px;
        }
    }

    &.pill {
        a {
            padding: 0.3em 1em;
        }
        .active {
            background: variables.$darkgray;
            border-radius: 5px;
            color: variables.$white;
        }

        &.rounded {
            a {
                border-radius: 100px;
            }
        }
    }

    &.horizontal {
        // display: flex;
        // justify-content: start;

        a {
            display: inline-block;

            [class^="icon-mat"], [class*=" icon-mat"] {
                top: 3px;
                // font-size: 1.5em;
            }

            &.active {
                border-bottom: 2px solid variables.$brand;
                font-weight: bold;
                [class^="icon-mat"], [class*=" icon-mat"] {
                    color: variables.$brand;
                }
            }
        }
    }

    &.vertical {
        a {
            display: block !important;          

            // Disabling the forced color for icons (Nick on March 14, 2016)

            // [class^="icon-mat"], [class*=" icon-mat"] {
            //  color: variables.$ash;
            //  top: 3px;
            // }

            // &.active {
            //  border-right: 2px solid variables.$blue;
            //  [class^="icon-mat"], [class*=" icon-mat"] {
            //      color: variables.$blue;
            //  }
            // }
        }
    }

    &.pill {
        // REMEMBER: use proper paddings within your <a> tags to create enough spacings. Usually .pad will work

        a {
            padding: 0.3em 1em 0.4em 1em; 
            border-radius: variables.$default-border-radius;
            border-bottom: 0 !important;

            &:hover {
                background-color: variables.$grayhighlight;
            }

            &.active {
                background-color: variables.$darkgray;
                color: variables.$white;
            }
        }

        &.white {
            .active {
                background-color: variables.$white;
                color: variables.$darkgray;
                border-radius: 5px;
                border-bottom: 0 !important;
            }
        }
    }

    &.pagination {
        width: 100%;

        a {
            display: inline;
            color: variables.$ash;
            font-family: variables.$secondaryfont;
            font-size: 0.875em;

            &:hover {
                color: variables.$brand !important;
            }

            &.disabled {
                cursor: not-allowed;
                pointer-events: none;
                background-color: transparent !important;
            }

            &.active { color: variables.$aluminum; }
        }

        @media screen and (max-width: 320px) {
            .pagenumber {
                &:nth-of-type(6), &:nth-of-type(7) {
                    display: none;
                }
            }
        }
    }

    &.horizontal {
        a {
            display: inline-block;

            [class^="icon-mat"], [class*=" icon-mat"] {
                top: 3px;
            }

            &.active {
                border-bottom: 1px solid variables.$brand;
                font-weight: bold;
                [class^="icon-mat"], [class*=" icon-mat"] {
                    color: variables.$brand;
                }
            }
        }
    }

    &.new-desktop-pagination {
        font-size: 12px;

        a { 
            margin: 10px 2%; 
            opacity: 0.7;

            &:last-child { 
                margin: 10px 3%;
                padding: 0px 3%;
                opacity: 1;
            }

            &:first-child { 
                margin: 10px 3%;
                padding: 0px 3%;
                opacity: 1;
            }

            &.active {
                font-weight: bold;
                color: variables.$brand;
                opacity: 1;
            }
        }

        .previous-button { left: 5px; }

        .next-button { right: 5px; }

        .disabled {
            background-color: transparent !important;
            color: #c1c1c1 !important;
            border-right: #c1c1c1;
        }
    }

    &.new-mobile-pagination {
        margin: 0 10px;
        font-size: 12px;

        > a { 
            margin: 10px 3%; 
            opacity: 0.7;

            &:last-child { 
                margin-right: 0px;
                padding: 0px 2%;
                opacity: 1;
            }

            &:first-child { 
                margin-left: 0px;
                padding: 0px 2%;
                opacity: 1;
            }

            &.active {
                font-weight: bold;
                color: variables.$brand;
                opacity: 1;
            }
        }

        .previous-button { left: 5px; }

        .next-button { right: 5px; }

        .disabled {
            background-color: transparent !important;
            color: #c1c1c1 !important;
        }

        .more-pages a { 
            margin: 10px 3%; 
            opacity: 0.7;
            display: none; 
        }

        @media only screen and (min-width: 479px) {
          .more-pages a { 
            display: inline-block; 
            margin: 10px 4%; 
        }

          a { margin: 10px 4%; }
        }
    }

    .navigationarrow {
        &:hover { color: variables.$skyblue !important; }
        &.white {
            color: variables.$white;
        }
    }

    &.tab-fold{
        border-bottom: 1px solid variables.$darkgray;
        overflow: auto;
        white-space: nowrap;

        &.pill {
            &.light{
                border-bottom: 1px solid variables.$darkgray;
                overflow: unset;
                white-space: unset;
                position: relative;

                @media only screen and  (min-width: 320px) and (max-width: 800px){
                    overflow: auto;
                    white-space: nowrap;
                    border-bottom: 0px solid variables.$darkgray;
                    overflow-y: hidden;
                    &:after{
                        content: "";
                        width: 100%;
                        height: 1px;
                        background: variables.$darkgray;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        z-index: 0;
                    }
                }
                

                a{
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                    background: transparent;
                    color: variables.$ash;
                    border: 1px solid variables.$platinum;
                    position: relative;

                    @media only screen and  (min-width: 320px) and (max-width: 800px){
                        &::before{
                            content: "";
                            width: 100%;
                            height: 1px;
                            background: variables.$ash;
                            position: absolute;
                            left: -6px;
                            bottom: 0;
                            z-index: 0;
                        }
    
                        
    
                        &::after{
                            content: "";
                            width: 100%;
                            height: 1px;
                            background: variables.$ash;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            z-index: 0;
                        }
                    }

                    
    
                    &.active{
                        background: transparent;
                        color: variables.$darkgray;
                        border: 1px solid variables.$darkgray;
                        position: relative;
                        
                        &:after{
                            content: " ";
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            bottom: -1px;
                            left: 0;
                            background: variables.$white;
                            z-index: 1;
                        }

                        &:hover{
                            color: variables.$darkgray!important;
                        }
                    }

                    &:hover{
                        color: variables.$darkgray!important;
                    }
                }
            }
        }
    }
}

// Formtemplate breadcrumb
.breadcrumb {
    .withreturnlink {
        font-size: 10px;
        opacity: 0.7;
    }

    .right-aligned-breadcrumb {
        margin-right: -6%;
        a { font-size: 10px; }
    }
}

// Share Bar
.sharebar-global { //Will be used as universal sharebar throughout the pages
    font-size: 18px;

    .close, .share-tracker { display: none; }

    .sectionheading {
        font-size: 14px;
    }

    &.vertical-header {
        header {
            .vertical {
                display: block !important;
            }

            .horizontal {
                display: none !important;
            }
        }
    }

    &.horizontal-header {
        header {
            .horizontal {
                display: inline-block !important;
            }

            .vertical {
                display: none !important;
            }
        }
    }

    &.with-share-tracker {
        .share-tracker { display: block; }
    }

    &.desktop-version {
        padding-top: 15px; 

        a { @extend .h4; }
    }

    &.fixed-sharebar {
        position: fixed;
        width: 100%;
        bottom: 0px;
        z-index: index(variables.$elements, topMost);
        margin-bottom: 0px;
    }

    @media only screen and  (min-width: 320px) and (max-width: 800px) {
        font-size: 16px;

        .sectionheading { font-size: 12px; }
     }
}

.sharebar {
    background-color: variables.$bluehighlight;
    color: variables.$lightgray;
    border-radius: variables.$default-border-radius;

    a {
        color: variables.$grayhighlight;
        &:hover { color: variables.$white; }
    }

    &.light {
        background-color: transparent;
        color: variables.$ash;
        // @include box-shadow();

        a {
            color: variables.$darkgray;

            &:hover { color: variables.$ash; }
        }
    }

    &.vertical {
        width: 65px !important;

        a {
            display: block;
            padding: 10px;
        }

        &.dropdown {
            a {
                color: variables.$copycolor;
                font-size: 12px;
                display: block;
                border-bottom: 1px solid variables.$border;

                &:hover { color: variables.$blue; }
            }
            background-color: variables.$white;
        }
    }

    &.horizontal {
        height: 65px;
        width: auto;

        a { display: inline-block; }
    }
}

// Sticky share bar
// note: used in launch projects
.share-bar {
    bottom: 30px;
    left: 10.9%;
    background-color: variables.$white;
    border-radius: variables.$default-border-radius;
    transition: variables.$default-transition-duration;
    // @include box-shadow();

    &.hidden-sharebar {
        bottom: -50px;
        transition: variables.$default-transition-duration;
    }
}

// Table
table {
    width: 100%;
    @extend .left;

    thead { border-bottom: 1px solid variables.$platinum; }

    tr { border-bottom: 1px solid variables.$platinum; }

    td, th {
        padding: 1em;
        // &:first-of-type { padding-left: 0; }
    }
    
    &.zebra {
        tr { border-bottom: none; }
        tr:nth-child(even) { background: variables.$grayhighlight; }
        tr:last-child { border: none; }
        td { padding-left: 10px; }
    }

    &.extended-zebra {
        tr:nth-child(4n), tr:nth-child(4n-1) {
            background-color: none;
        }

        tr:nth-child(4n-2), tr:nth-child(4n-3) {
            background-color: variables.$grayhighlight;
        }
    }

    &.new {
        font-size: 12px;
        thead {
            border-bottom-width: 1px;
        }

        tbody {
            font-size: 14px;
        }
    }
}


/*
    In page get quote form
    Created by: Kaye
    Date: Feb 28, 2019
*/
.form-template {
    .avatar { border: 1px solid variables.$border; }
}

.getquote-inpage,
.form-template {
    .display-flex:first-of-type { justify-content: space-between; }

    .car-model-option {
        display: none;
    }

    .dealer-logo {
        width: 100px;
        text-align: right;
    }
    
    &.without-threequote {
        #three-quotes-wrapper { display: none; }
    }

    &.without-dealerinfo {
        .dealer-address,
        .dealer-logo { display: none; }
    }

    &.without-partnerdealers {
        #preferred-dealership { display: none; }
    }

    &.with-car-model-option {
        .car-model-option {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        }
    }
}


/*

    !!!!!!!!!
    FOR DEPRECATION

    */
    .successwithbackground {
        background: url('/images/icons/check.gif') center center no-repeat variables.$white !important;
        padding: 23px !important;
        margin-bottom: -5px;
        // Tailor the declarations below to specific need
        background-size: 40px !important;
    }

    .stepper {
        margin: 50px auto 40px;

        .stepcurrent {
            .stepnumber {
                background: variables.$yellowgreen;
                color: variables.$white;
            }
        }

        .stepperbar {
            border-top: 1px dashed variables.$ash;
            display: block;
            margin: -51px auto 20px;
        }

        a {
            padding: 22px 18px;
            line-height: 0;
            background: variables.$platinum;
            color: variables.$ash;
            display: inline-block;
        }

        div {
            display: inline-block;

            span {
                display: block;
                font-size: 13px;
                color: variables.$aluminum;
            }
        }
    }

// Share for blog (resultsblog)
.share {
    .author { color: variables.$aluminum; }
    .shareicon {
        color: variables.$aluminum;
        &:hover { color: variables.$ash; }
    }

    .sharedropdown{
        top: 2em;
        right: 0.5em;
        // left: 0;
        min-width: 3.75em !important;

        .arrowup {
            // background: #fff;
            // border-left: 1px solid variables.$grayhighlight;
            // border-top: 1px solid variables.$grayhighlight;
            // border-right: none;
            // border-bottom: none;
            // width: 0.875em;
            // height: 0.875em;
            transform: rotate(45deg);
            top: -0.5em;
            // left: 38%;
        }
    }

    .sharetext { font-size: 0.75em; }
}

// Buyer Review / Feedback
#buyer-review {
    #featured-review {
        .sales-agent-details {
            .avatar {
                width: 4em;
                height: 4em;
            }
        }
    }

    .align-details {
        align-items: center;
        justify-content: flex-start;
    }

    .buyer-details {
       display: grid;

       @media screen and (min-width: variables.$medium) {
            grid-template-columns: repeat(2,1fr);

            div:nth-of-type(2) {
                border-top: none;
                text-align: right;
            }
        }
    }

    .recent-reviews {

        .agent-avatar { 
            display: inline-block; 

            img { margin-top: -20px; }
        }

        .agent-details {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }


        .review-rating {
            flex-flow: column;

            // .stars {
            //  margin-top: -10px;
            // }
        }
    }

    #sort {
        display: inline-block;
        width: 50%;

        .dropdown {
            left: -10px;
            width: 250px;
        }
    }
    
    .search-toggle-review {
        width: 48%;
        display: inline-block;
    }
}

// Top Rated Agents
#top-rated-agents {
    font-size: 14px;

    .grid-agent-details {
        display: grid;
        grid-template-columns: 1fr 3fr 2fr;
    }
    
    .reviews, .stars {
        margin-top: -5px;
    }
}

/*  Dealerships List  */
#dealership-list {
    li > a {
        // display: flex;
        flex-flow: row nowrap;
        align-items: center;
        display: block;

        span:first-of-type { width: 100%; } 

        > small {
            display: block;
            line-height: 1.6em;
        }
    }
  
    .margin-pull-up {
        margin-top: -5px;
    }

    .dealership-details {
        display: grid;
    }

    .dealership-ratings{
        justify-content: space-between;
    }

    #top-dealer-section {
        @media screen and (min-width: variables.$medium) {
            background-color: variables.$white;
        }

    }
}

/* Dealership individual details */ 
#dealership-individual-details {
    .dealership-actions {
        @media screen and (max-width: variables.$medium) {
            a {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
}

// Slider Control
// Arrow buttons used in bxsliders. Made up of .arrow-button found in _elements.scss

.slider-control {
    width: 100%;
    top: 50%;

    #left-arrow {
        left: 0;
    }

    #right-arrow {
        right: 0;
    }
}