/*

	Elements

	elements are the basic parts of a page -- buttons, links, tags, etc..

	Started on May 11, 2017

	Contents:
	-	Alerts & Notifications
	-	Badges & Labels
	-	Color Avatar
	-	Countdown Timer
	-	HR
	-	Images
	-	Links & Buttons
	-	Preloader
	-	Progress Bar
	-	Scroller
	-	SuccessMessage
	-	General inquiry
	-	Arrow buttons
	- 	Typeahead Search
	-	Slider Gallery
	-	Table of Contents
	-	For deprecation items:
			- PreviewBar
	- 	CSS Arrow

	Edit list:
	May 11, 2017	Created to refactor and port declartions from deprecated ui.scss 	- Nick
	June 9, 2017	Adding Progress Bar Styles 		-Nick
	Nov 8, 2018		Added general inquiry styles	- Kaye
	June 19, 2019	Added arrow buttons styles		- Kaye
	June 24, 2019	Added featured body type badge styles	- Kaye
	Oct 16, 2019	Added slider gallery	- Kaye

*/

@use 'utilities/universal/variables';

// Alert and Notifications
.alert {
	padding: 10px 20px;
	background-color: variables.$bluehighlight;
	color: variables.$white;
	border: none !important;
	border-radius: variables.$default-border-radius;
	z-index: index(variables.$elements, notifshade);
	font-size: 0.875em;

	&.success { background: #4EBB71; }

	&.warning {
		background: variables.$paleyellow;
		color: #7B640B;
	}

	&.error {
		background: #FF7568;
		color: variables.$white;
	}

	&.inform {
		background: variables.$skyblue;
	}

	&.neutral, &.gray {
		background-color: variables.$lightgray;
		color: variables.$gray !important;
	}

	&.dark {
		background: variables.$black;
		color: variables.$white;
	}

	&.no-border-radius {
		border-radius: 0;
	}

	&.slidedown {
		top: 0;
		width: 100%;
		// @include box-shadow();

		.icon {
			padding: 20px;
			font-size: 30px;
			top: 4px;
			left: 0px;
			// @include box-shadow();
		}

		&.success {
			.icon { background-color: variables.$green; }
		}

		&#comparisonbar {
			z-index: index(variables.$elements, comparebar);
			.icon {
				background-color: #FFDB1D;
			}

		}
	}

	&.lead-expiry-warning {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        div:nth-of-type(1) { width: 80%; }
        div:nth-of-type(2) { width: 20%; }
	}
	
	&.expired{
		background: #EDC8C5;
		border: 1px solid variables.$red2!important;
		color: variables.$darkgray;
	}
}

.alert-inline {
	color: variables.$red;
	margin-top: -10px !important;
}

.notification {
	border-radius: 100px;
	text-align: center;
	padding: 2px 7px;
	background: variables.$ash;
	font-size: 0.6875em;

	&.danger {
		background: variables.$red;
	}

	&.success {
 	}

	&.warning {
		background: variables.$brand;
		color: variables.$white;
	}
}

// Badges and Labels
.badge {
	color: variables.$white;
	padding: 8px 10px;
	background-color: variables.$brandhighlight;
	font-size: 11px !important;
	display: inline-block;
	line-height: 0;
	top: -1px;
	text-transform: capitalize;

	&.error {
		background-color: variables.$red;
	}

	&.dark {
		background-color: variables.$black;
	}

	&.success, &.green {
		background-color: variables.$green;
	}

	&.neutral, &.gray {
		background-color: variables.$ash;
	}

	&.bordered {
		background-color: transparent;
		border: 1px solid variables.$border;
		color: variables.$copycolor;

		&.white {
			color: variables.$white;
		}

		&.blue {
			border: 1px solid variables.$blue;
			color: variables.$blue;
			background: transparent;
		}
	}

	&.blue {
		background-color: variables.$blue;
	}

	&.withpromo {
		background-color: variables.$yellowgreen;
		top: 5px;
		left: 5px;
		font-size: 11px;
		font-weight: normal;

		.icon-mat-check_circle {
			top: 1px;
		}

		&.featuredpromo {
			background-color: variables.$orange;
		}
	}

	&.featuredbodytype {
		background-color: variables.$blue;
		top: 5px;
		left: 5px;
		font-size: 11px;
		font-weight: normal;

		.icon-mat-check_circle {
			top: 1px;
		}
	}

	&.narrow {
		font-weight: normal;
		font-size: 10px;
		line-height: 1;
	}

	&.transparent {
		@extend .narrow;
		background-color: transparent;
		color: variables.$aluminum;
		display: block;
		padding: 0px;
	}

	&.partner {

		&.no-bg {
			background-color: transparent;
			color: variables.$blue;
			padding: 0;
			font-weight: 14px;
		}

		img {
			width: 14px;
		}
	}

	&.responsive {
		&.no-bg {
			background-color: transparent;
			color: variables.$yellowgreen;
			padding: 0;
			font-weight: 14px;
		}

		img {
			width: 20px;
		}
	}
}

// Dealership Badge
.dealerbadge, .partner-badge, .certified {
	width: 20px;
}

/*this is to unify dealerbadge size*/
.dealerbadge, .partner-badge {

	.certified, .responsive {
		width: 20px;
	}

	// this is to unify dealerbadge size
	&.certified { width: 20px; }
	&.responsive { width: 21px; }
}

// Used cars verified badge
#verifiedbadge {
    background-color: #41BF6A;
    color: variables.$white;
    height: 50px;
    font-size: 0.875em;

    a { display: block; }
}

#verifiedbadgemodal {
	@extend #verifiedbadge;
	margin-left: -24px;
	margin-right: -27px;
	border: none;
	border-radius: 0px;
}

.label {
	background-color: transparent;
	color: variables.$gray;
	border: 1px solid variables.$border;
	font-size: .6rem;
	padding: 4px 10px;
	top: -3px;
	line-height: 1.375em;
	display: inline-block;
	border-radius: variables.$default-border-radius;

	// Package Tier
	&.package-tier-label {
	    color: variables.$lightgray;

	    &.package-gold {
	        border: 2px solid #FFDB19;
	        background-color: variables.$gold;
	    }

	    &.package-bronze {
	        background-color: variables.$bronze;
	        border: 2px solid #D59352;
	    }

	    &.package-silver {
	        background-color: variables.$silver;
	        border: 2px solid #CCCCCC;
	    }

	    &.package-platinum {
	        background-color: variables.$aluminum;
	        border: 2px solid variables.$ash;
	    }

	    &.package-free {
	        border: 2px solid #adedde;
	        background-color: #3ECEAE;
	    }
	}

	&.warning, &.hotlead {
		background-color: variables.$orange;
		border-color: variables.$orange;
		color: variables.$white;
	}

    &.medium {
        width: 4em;
        height: 4em;
    }

	&.inquiry {
		background-color: variables.$blue;
		border-color: variables.$blue;
		color: variables.$white;
	}

	&.testdrive, &.sold {
		background-color: variables.$yellow;
		border-color: variables.$yellow;
		color: #7B640B;
	}

	&.autoloan {
		background-color: variables.$red;
		border-color: variables.$red;
		color: variables.$white;
	}

	&.tradein {
		background-color: variables.$yellowgreen;
		border-color: variables.$yellowgreen;
		color: variables.$white;
	}

	&.purchase {
		background-color: variables.$pastelblue;
		border-color: variables.$pastelblue;
		color: variables.$white;
	}

	&.event {
		background-color: variables.$notebrown;
		border-color: variables.$notebrown;
		color: variables.$white;
	}

	&.external {
		background-color: variables.$violet;
		border-color: variables.$violet;
		color: variables.$white;
	}

	&.ofw {
		background-color: variables.$lightbrown;
		border-color: variables.$lightbrown;
		color: variables.$white;
	}

	&.assignedbadge {
		background-color: variables.$navyblue;
		border-color: variables.$navyblue;
		color: variables.$white;
	}

	&.imported {
		background-color: variables.$darkgreen;
		border-color: variables.$darkgreen;
		color: variables.$white;
	}

	&.quote, &.success {
		background-color: variables.$green;
		border-color: variables.$green;
		color: variables.$white;
	}

	&.online-reservation {
		background-color:  #360F60;
		border-color:  #360F60;
		color: variables.$white;
	}

	&.refund-reservation {
		background-color: variables.$paleorange;
		border-color: variables.$paleorange;
		color: variables.$white;
	}

	&.neutral {
		background-color: variables.$ash;
		border-color: variables.$ash;
		color: variables.$gray;
	}

	&.serviceappointment {
		background-color: variables.$indigo;
		border-color: variables.$indigo;
		color: variables.$white;
	}

	&.servicecompleted {
		background-color: variables.$bluegreen;
		border-color: variables.$bluegreen;
		color: variables.$white;
	}

	&.confirmedbooking {
		background-color: variables.$gold;
		border-color: variables.$gold;
		color: variables.$white;
	}
}


.inline-label {
	// Used mostly in media pages
	text-transform: uppercase;
	font-weight: normal;
	font-size: 14px;

	&.news, &.inquiry { color: variables.$green; }

	&.review { color: variables.$brand; }

	&.compare { color: variables.$paleorange; }

	&.blog { color: variables.$gray; }

	&.video { color: variables.$red; }

	&.features { color: variables.$skyblue; }

	@media screen and (max-width: 700px) {
		font-size: 10px;
	}
}

// Ad Banner Label

.ad-label {
	bottom: 13%;
	left: 5%;
	background-color: variables.$black;
	font-size: .6rem;
	padding: 4px 10px;
	line-height: 1.375em;
	display: inline-block;
	color: #fff;
	border-radius: 5px;
}

// For Partner Labels and Responsive Badges
.partner-label, .responsive-label {
	font-size: 12px;
	display: block;
}

.partner-label {
	color: variables.$blue;
}

.responsive-label {
	color: variables.$green;
}

// Color Swatch and Color Avatar
.colorswatch {
	display: inline-block;
	height: 20px;
	width: 20px;
	background-color: variables.$gray;

	border-radius: 100px;
	// @include box-shadow();

	&.active, &:hover {
		border: none;
	}

	&.active {
		width: 21px;
		height: 21px;
	}
}

.coloravatar {
    display: inline-block;
    width: 9px;
    height: 9px;
    background-color: variables.$gray;

    &.more {
    	height: auto;
    	width: auto;
    	font-size: 11px;
    	line-height: 17px;
    	color: variables.$white;
    	padding: 0 10px 1px;
    }
}

// Countdown Timer
#countdown-wrapper {
	> section {
		display: inline-block;
		color: variables.$white;

		p {
			font-size: 3em;
			line-height: 1.3em;
		}
	}
}

// Horizontal Rules
hr {
	background: variables.$border;
	clear: both;
	float: none;
	width: 100%;
	height: 1px;
	margin: 3em 0;
	border: none;

	&.minimalmargin {
		margin: 1em 0;
	}

	&.narrow {
		width: 8em;
		background: variables.$border;
	}

	&.center {
		margin-left: auto;
		margin-right: auto;
	}

	&.white {
		background: variables.$white;
	}

	&.dark {
		background: variables.$gray;
	}

	&.short {
		width: 180px;
	}
}

// Images
.avatar { //For profile and brand images
	// @include box-shadow-2();
	border-radius: 3px;
	background-color: variables.$white;

	&.xsmall {
		width: 1.5625em;
        height: 1.5625em;
        border-width: 2px;
	}

    &.small {
        width: 2.5em;
        height: 2.5em;
    }

    &.medium {
        width: 5em;
        height: 5em;
    }

    &.big, &.large {
        width: 6.25em;
        height: 6.25em;
        border-width: 6px;
    }

    &.bordered {
    	box-shadow: none;
    	border: 3px solid variables.$border;
    }

    &.no-shadow {
    	box-shadow: none;
    }
}

img.srcset {
	width: 100%;
}

// Links and Buttons
a {
	color: variables.$brand-highlight;
	&:hover {
		color: variables.$brandhighlight !important;
	}

	&.blocklink {
		display: block;
		color: variables.$copycolor;
		text-decoration: none;
	}

	&.darklink {
		color: variables.$copycolor;

		&:hover {
			color: variables.$brandhighlight;
		}
	}

	&.whitelink{
		color: variables.$white;
	}

	&.graylink{
		color: variables.$ash;
		display: inline-block;

		&:hover {color: variables.$brandhighlight; }

		&.disabled {
			background: transparent !important;
		}
	}

	&.inline { 
		border-bottom: 1px dotted variables.$gray; 
	}

	&.promo-link {
		color: variables.$yellowgreen;

		&:hover { color: variables.$green; }
	}

	&.disabled {
		cursor: default;
		color: variables.$ash !important;
	    background: transparent !important;

	    &:hover, &:focus { 
	        background: transparent !important;
	        box-shadow: none; 
	    }
	}
}

.linkback { // Link Backs are anchors back to main pages from landing pages
    color: variables.$ash;

    &:hover {
        color: variables.$brand;
    }
}

// Preloader
.preloader {
	border-radius: 2px;
	padding: 0.3125em; //5px;
	width: 100%;
	height: 50px;
	background: url('/images/icons/preloader.gif') center center no-repeat transparent;
	background-size: 30px auto;

	img { width: 20px; }

	&.white {
		background: url('/images/icons/preloader_whitebordered.gif') center center no-repeat;
		height: 34px;
		width: 34px;
		margin: 0 auto;
		border-radius: 100px;
		border: 2px solid variables.$white;
		background-size: 34px 34px !important;
	}
}

// Progress Bar
progress {
	display: block;
	-webkit-appearance: none;
	border: none;

	&::-webkit-progress-bar {
		background-color: variables.$platinum;
	}

	&::-webkit-progress-value {
		background-color: variables.$brandhighlight;
	}

	&::-ms-progress-value {
		background-color: variables.$brandhighlight;
	}

	&::-moz-progress-bar {
		background-color: variables.$brandhighlight;
	}
}

progress[value] {
	background-color: variables.$platinum;

	border: none;
	color: variables.$brandhighlight;
}
// Scroller
.scroller {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	&::-webkit-scrollbar {
		display: none;
	}

	// -webkit-overflow-scrolling: touch;

	// &:before, &:after {
	//     content: ".";
	//     display: block;
	//     height: 0;
	//     // overflow: hidden;
	// }

	.scrollitem {
		display: inline-block !important;
		vertical-align: top;
		white-space: normal;
	}
}

// Card Scroller
.card-scroller {
	-webkit-overflow-scrolling: touch;
	padding-top: 5px;
	padding-bottom: 5px;
	
	.scrollitem {
		width: 65%;
	}

	&.small {
		.scrollitem {
			width: 108px;
		}
	}
}

.uploadedimages {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-auto-flow: dense;

    .primary-photo {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    .delete-upload { background-color: rgba(255, 255, 255, 0.8); }
}

#general-inquiry {
	.general-inquiry-image { width: 150px; }
}

// Arrow button
.arrow-button {
    span {
        // @include box-shadow-2();
        border-radius: 100px;
        font-size: 20px;
        // font-size: 23px;
        padding: 10px;
        background-color: variables.$brandhighlight;
        color: variables.$white;

        &:hover { background-color: variables.$orange2; }

        &:active { background-color: variables.$orange; }
    }

    &.disabled {
    	background-color: transparent !important;

    	span {
    		background-color: variables.$ash;
    	}
    }

    &.dark {
    	span {
    		background-color: variables.$gray;
    	}
    }

    &.light {
    	span {
    		background-color: variables.$white;
    		color: variables.$darkgray;
    	}
    }
}


// CSS Arrow
.arrow {
	width: 0;
	height: 0;

	&.up {
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid variables.$darkgray;
	}
}

.slider-gallery {
	.bx-viewport { height: auto !important; }

	.bx-wrapper {
		padding: 0px;

		> div img {
			width: 100%;
		    // object-fit: none;
		}
	}

	.arrow-button span {
		font-size: 18px;
	    padding: 5px;
		box-shadow: 0 2px 10px rgba(100, 100, 100, 0.1);
	}

	.slider-control {
		z-index: 3;
		top: 57%;
		width: 100%;

		> a {
			&#left-arrow { left: 10px; }
			&#right-arrow { right: 10px; }
		}

		@media screen and (min-width: 300px) and (max-width: 750px) {
			top: 40%;
		}
    }
    
	.slider-gallery-button {
		z-index: 3;
		bottom: 20px;
		right: 20px;

		a {
			font-size: 12px;
			background-color: variables.$white;
			border-color: variables.$white;
			color: variables.$darkgray;
			box-shadow: 0 2px 10px rgba(100, 100, 100, 0.1);
			border-radius: 100px;
		}

		@media screen and (min-width: 300px) and (max-width: 750px) {
			bottom: 10px;
			right: 10px;
		}
	}
}
// End

// Table of contents
.table-of-contents {
    ul { 
        max-height: 150px;
        flex-direction: column;
        flex-wrap: wrap;

        @media screen and (min-width: 500px) {
            max-height: auto;
            display: flex;
            justify-content: space-between;

            > div { width: 45%; }
        }
    }

    li {
        p { font-size: 14px; }
        span { font-size: 10px; }
    }

    .show-more-details-wrapper {
        bottom: -15px;
        left: 0;
        right: 0;
    }

    @media screen and (min-width: 300px) and (max-width: 750px)  {
        li span { font-size: 10px; }

        ul { 
            max-height: none;
            flex-direction: unset;
            flex-wrap: wrap;

            @media screen and (min-width: 500px) {
                display: flex;
                justify-content: space-between;

                > div { width: 45%; }
            }
        }
    }
}

