// Forms
@use 'utilities/universal/variables';

form {
    &.inline {
        & > * {
            float: left;
        }
    }

    &.simple {

        &.dark {
            input {
                border-color: variables.$gray;
                color: variables.$white;
            }
        }

        &.highlighted-checkbox {
            input[type=checkbox]{
                vertical-align: middle;

                &:checked {
                    background: url("/images/icons/check-white.png") center center no-repeat variables.$brandhighlight;
                    background-size: 50%;
                    border-color: variables.$platinum;
                }
            }
        }

        input[type="text"], input[type="email"], input[type="password"], input[type="search"], input[type="phone"], input[type="number"], textarea, select {
            border: none;
            border-radius: 0;
            border-bottom: 1px solid variables.$border;
            padding-left: 2px;
            margin: 0 !important;
            font-family: variables.$basefont;
            font-size: 14px;
            background-color: transparent;
            -moz-appearance: none;

            @media screen and (max-width: variables.$medium) {
                font-size: 16px;
            }

            &.active, &:focus {
                border: none;
                border-bottom: 1px solid variables.$darkgray;
            }

            &.error {
                color: variables.$red;
                border-bottom-color: variables.$red;

                &:focus {
                    color: variables.$copycolor;
                }
            }

            &.with-clear {
                background-image: url('/images/icons/close.png');
                background-repeat: no-repeat;
                background-position: right;
                background-size: 1em;
            }

            &.big {
                font-size: 20px;
            }

            &:disabled {
                opacity: 0.5;
            }

            &.bordered {
                border: 1px solid variables.$border;
                border-radius: 2px;
                padding-left: 10px;

                &:focus {
                    border-color: variables.$darkgray;
                }

                &.white {
                    background-color: variables.$white;
                    padding: 0.6rem 1rem 0.7rem 1rem;
                    border-color: variables.$platinum;

                    &:focus {
                        border-color: variables.$darkgray;
                    }
                }
            }

            &.bordered-error {
                border-color: variables.$red;

                &:focus {
                    border-color: variables.$red;
                }
            }
        }

        // Range
        input[type="range"] {
            padding: 0;
            height: 2px;
            border: none;
            background: variables.$border;

            &:focus, &:active {
                border: none;
            }
        }

        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: none;
            height: 18px;
            width: 18px;
            border-radius: 100px;
            background: variables.$darkgray;
            // @include box-shadow();
        }



        label {
            // font-weight: normal;
            font-size: 12px;
            font-family: variables.$basefont;
        }

        select {
            background: url("/images/icons/arrowdown.svg") 98% center no-repeat transparent;
        }
    }

    input, textarea, select {
        width: 100%;
        border: 1px solid variables.$border;
        padding: 0.46875rem 1rem;
        color: variables.$copycolor;
        font-family: variables.$basefont;
        line-height: 1.5em;
        background: #fff;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fafafa));
        -webkit-appearance: none;
        transition: all, 0.2s;
        border-radius: variables.$default-border-radius;

        &:focus, &:active {
            outline: none;
            border: 1px solid variables.$gray;
        }

        &:disabled,{
            color: variables.$ash;
        }

        &.simple {
            border: none;
            border-bottom: 1px solid variables.$border;
            padding-left: 2px;

            &.active, &:focus {
                border: 1px solid variables.$blue;
                padding-left: 10px;
            }
        }
    }

    // Radios and Checkboxes
    input[type=checkbox],
    input[type=radio] {
        display: inline-block;
        font-size: 15px;
        line-height: 1em;
        margin: 0 0.25em 0 0;
        padding: 0;
        width: 1.25em;
        height: 1.25em;
        -webkit-border-radius: 0.25em;
        vertical-align: text-top;
        transition: none;
    }

    input[type=checkbox]{
        vertical-align: middle;

        &:checked {
            background: url("/images/icons/check.png") center center no-repeat variables.$white;
            background-size: 50%;
            
            &.check-white {
                background: url("/images/icons/check-white.png") center center no-repeat variables.$brandhighlight;
                background-size: 50%;
            }
        }
    }

    input[type=radio] {
        -webkit-border-radius: 2em; /* Make radios round */

        // Checked state
        &:checked {
            background: url("/images/icons/circle.png") 3px 3px no-repeat;
            background-size: 66%;
        }
    }

    // Range
    input[type=range] {
        padding: 0;
        height: 5px;
        border: none;
        background: variables.$border;

        &:focus, &:active {
            border: none;
        }
    }

    

    input[type="text"], input[type="search"], input[type="email"], input[type="tel"], input[type="password"], input[type="date"], input[type="number"], textarea, select {
        margin-bottom: 1em;
        background: variables.$bodybackground;

        &.disabledinput {
            color: variables.$ash;
            border: none;
            background: variables.$lightgray;
        }

        // Sizes
        &.large { font-size: 1.375em; }
        &.small { font-size: .75em; }
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    // Selects
    select {
        background:
            url("/images/icons/arrowdown.svg") 98% center no-repeat,
            #fff;
        background-size: 15px 15px, cover;

        &:disabled {
            color: variables.$ash;
        }

        &.simple {
            background: url("/images/icons/arrowdown.svg") 98% center no-repeat transparent;
        }

        option[disabled] {
            color: variables.$platinum;
        }
    }

    // Textarea
    textarea {
        min-height: 5em;
        &.simple {
            border: none;
            border-bottom: 1px solid variables.$border;
        }
    }

    // Fieldset
    fieldset {
        padding: 0;
        margin: 0 0 1.5em 0;
        border: 0;
    }

    // Legend and Label
    legend, label {
        @extend .small;
        @extend .bold;
    }

    label {
        line-height: 1em;
        color: variables.$gray;
        margin-bottom: 0.3125em;
        padding: 0;

        &.inline {
            display: inline;
            border: none;
        }
    }

    // Error State
    .error {
        border: 1px solid #bd4e44;
    }

    .purchasedate fieldset {
        width: 23%;
        display: inline-block;
    }

    .filter-choices ul {
        height: 200px;
        overflow-y: scroll;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        padding-top: 5px;

        li { padding: 5px 5px 0px 0px; }
    }

    .radiogroup {
        input[type=radio] {
            margin-top: 5px;
        }
    }

    #additional-options {
        .option-lists {
            display: grid;
            grid-template-columns: minmax(100px, 150px) 1fr;
        }
    }

    #three-quotes-wrapper {
        display: grid;
        grid-template-columns: 3fr 1fr;
        align-items: center;
    }

    #three-quotes { 
        overflow: hidden; 

        input[type=checkbox] {
            border: 1px solid variables.$ash;
        }
    }

    #three-quotes label {
        display: block;
        float: left;
        margin-left: 25px;
        line-height: 1.8em;
    }

    #three-quotes input[type=checkbox] {
        margin-left: -25px;
        // margin-right: 0.55em;
    }

    #preferred-dealership {
        .partner-badge { width: 18px; }
        .responsive { width: 22px; }

        input[type='radio'] {
            margin-top: 5px;
            margin-right: 10px;
        }

        .radio-wrapper {
            width: 100%;
        }

        .row {
            display: flex;
            flex-flow: row wrap;

            // display: -moz-box;

            > .col { width: 50%; }

            @media only screen and (max-width: 1050px) {
                > .col { width: 100%; }
            }
        }
    }

    #family-testdrive-form {
        img { width: 200px; }

        .dropdown { 
            min-width: 550px; 
            left: 450px;
            top: -300px;
        }

        input[type=radio] {
            margin-top: 5px;
        }

        .pickadate__holder { 
            position: absolute; 
            z-index: index(variables.$elements, generic);

        }

        #family-details { border-top: 1px solid variables.$platinum; }

        .smoothtransition { transition: all 0.2s; }
    }
}

// Required
.required:after, .requiredMark {
    content: "\e764";
    font-family: icons;
    font-size: 0.375em;
    color: variables.$red;
    position: relative;
    top: -4px;
    left: 3px;
}

.requiredMark {
    margin: 0;
}

.imagedropzone {
    border: 1px dashed variables.$border;
    border-radius: 3px;

    &.active { border: 1px solid variables.$green; }
}
