.card {
	&#calculator-section{
	    .partners-logo{
	        display: grid;
	    }

	    form {
	        fieldset {
	            min-width: auto;

	            .scroller {
	                margin-right: -20px;
	                margin-left: -20px;
	            }
	        }
	    }
	    .arrow-back {
	        top: 1em;

	        span {
	            font-size: 1.8em;
	        }
	    }

	}
}