.card {
	&.comparison {
	    margin: 0;

	    &:hover {
	        .remove { display: block; }
	    }

	    &.blank {
	        height: 22.75rem;
	        border: 2px solid $white;
	        background: none;

	        a {
	            display: block;
	            height: 100%;
	            padding-top: 45%;
	            font-size: 20px;
	            color: $aluminum;

	            span {
	                font-size: 30px;
	                display: block;
	            }
	        }
	    }

	    // Dynamic Car Comparo Card
	    &.dynamic {
	        .img-wrapper {
	            align-items: center;
	            div {
	                max-width: 49%;
	            }

	            img {
	                border-radius: $default-border-radius;
	            }
	        }

	        .vs {
	            background: $brand;
	            color: $white;
	            border-radius: 100px;
	            height: 36px;
	            width: 92px;
	            line-height: 2.3em;
	            border-radius: 100px;
	            margin-left: -15px;
	            margin-right: -15px;

	        }

	        .text-wrapper {
	            &:hover {
	                a {
	                    color: $brandhighlight;
	                }
	            }
	            div {
	                flex-basis: 50%;
	            }
	        }
	    }

	    @media screen and (max-width: $medium) {
	        font-size: 14px;
	    }

	    &#wiki {
	        img {
	            max-width: 80%;
	        }
	    }

	    .remove {
	        width: 100%;
	        height: 40px;
	        position: absolute;
	        z-index: 10;
	        top: 0;
	        left: 0;
	        transition: all 0.2s;
	        @extend .center;
	        padding: 5px;
	        color: $white;
	        background: $red;

	        .icon-cancel { top: 5px; }
	    }

	    .title-wrapper {
	        font-size: 14px;
	        height: 130px;

	        a { font-size: 14px !important; }
	    }

	    .description-wrapper {
	        display: flex;
	        justify-content: center;
	        flex-direction: column;
	        height: 70px;
	    }
	}
}