.card {
	&#review-breakdown {
	    border: 3px solid $brandhighlight;
	    min-width: 250px;

	    display: grid;
	    grid-template-columns: 1fr;

	    header {
	        background: $black;
	        color: $white;
	    }
	    header > div {
	        margin-bottom: -5px;
	    }

	    progress {
	        width: 100%;
	        height: 5px;
	    }

	    .display-flex {
	        justify-content: space-between;
	        line-height: 1.4em;
	    }

	    #rating-pros, #rating-cons {
	        flex: 50%;
	    }

	    &.car-owner-review {
	        header {
	            background: $grayhighlight;
	            color: $black;
	        }
	    }

	    &.condensed {
	        min-width: 0;
	    }

	    @media screen and (max-width: $xsmall) {
	        #pros-cons {
	            flex-direction: column;
	        }

	        #rating-pros {
	            border: none;
	        }

	        .buttonstack {
	            a {
	                display: block;
	            }
	        }
	    }
	}
}