.card {
	&#video {
	    .img-container, .img-wrapper {
	        .icon-mat-play_circle_filled {
	            left: 45%;
	            top: -30px;
	            font-size: 4em;
	        }
	    }
	    
	    header {
	        margin-top: -20px;
	        color: $white;
	    }
	}
}