.card {
	&.promo {
	    overflow: hidden;

	    &.featured {
	        &.big {
	            .imagewrapper img {
	                width: 100%;
	            }
	        }
	    }

	    .timeleft {
	        border: 1px solid $green;
	        color: $copycolor;
	        font-size: 14px;
	        display: inline-block;
	        padding: 5px 20px;
	    }

	    &.new {
	        .timeleft {
	            font-size: 14px;
	        }

	        .arrowup {
	            right: 7px;
	            top: -6px;
	        }

	        .image:hover {
	            .sharetrigger { opacity: 1; }
	        }

	        .without-logo { height: 80px; }
	    }

	    // Media Query
	    @media screen and (max-width: $medium) {
	        .essentialinfo {
	            > div {
	                display: inline;
	                width: 50%;
	                height: 68px;
	            }
	        }

	        .title-wrapper {
	            height: 140px;
	        }
	    }
	}
}