// Card Type Directory Style

.card {
	&.directory-style, &.directory-listing {

	    img {
	        min-height: 10px;
	        width: 100%;
	        background: $lightgray;
	    }

	    .label {
	        right: 0;
	    }

	    .img-container {
	        width: 40%;
	    }

	    .content {
	        width: 60%;
	    }

	    &.video-directory-listing {
	        a {
	            display: block;
	        }
	        .img-container, .img-wrapper {
	            .icon-mat-play_circle_filled {
	                left: 35%;
	                top: 25%;
	                font-size: 2em;
	            }
	        }
	    }

	    &#article {
	        // align-items: start !important;
	        img {
	            height: auto !important;
	        }

	        > div:first-child {
	            flex: 30%;
	        }

	        .content-wrapper {
	            flex: 50%;
	        }

	        @media screen and (max-width: $medium) {
	            flex-direction: column;
	            padding: 0;

	            .content-wrapper {
	                padding: 20px 30px;
	                margin: 0;
	            }
	        }
	    }

	    @media screen and (max-width: $medium) {
	        .label {
	            top: 10px;
	        }

	        h3 {
	            max-width: 80%;
	        }
	    }

	    @media screen and (max-width: $small) {
	        .label {
	            right: 5px;
	        }
	    }
	}
}