.card {
	    #insurance-tab {
	        #calculator-section{
	            form {
	                fieldset {
	                    min-width: auto;

	                    .scroller {
	                        margin-right: -20px;
	                        margin-left: -20px;
	                    }
	                }
	            }
	            .arrow-back {
	                top: 1em;

	                span {
	                    font-size: 1.8em;
	                }
	            }

	        }
	    }      

	    &#insurance-calculator,
	    #insurance-edit-coverage,
	    #insurance-form,
	    #carinsurancedetails{

	        
	        div.center{
	            img{
	                width: 130px;
	            }
	        }

	        
	        .model-year{
	            margin-top: 10px;
	            a{
	                transition: ease all .3s;
	                margin-bottom: 5px;
	                margin-right: 5px;
	                padding: 0.5em 1em;

	                &:focus,&:active,&:hover{
	                    border-color: $brandhighlight!important;
	                    color: $brandhighlight!important;
	                }
	            }
	        }

	        &.sidebar{

	            .model-year{
	                a{
	                    width: 30%;
	                }

	                &.price{
	                    a{
	                        width: 47%;
	                    }
	                }
	            }

	        }
	        
	        .breakdown {
	            table {
	                font-size: 12px;

	                tr{
	                    vertical-align: baseline;
	                }

	                tr:first-child{
	                    border-bottom: 0px;

	                    th{
	                        padding-bottom: 0;
	                        padding-top: 0;
	                    }
	                }
	            }

	            td {
	                padding: 0;

	                &:first-child{
	                    width: 90%;
	                }
	            }

	            th {
	                font-size: 16px;
	                padding-left: 0;
	                &:first-child{
	                    width: 90%;
	                }
	            }
	        }
	    }
	    
	    #carinsurancedetails{

	        @media screen and (min-width: $small){
	            .breakdown {
	                table {
	                    font-size: 12px;
	                }
	    
	                td {
	                    padding: 0;
	                }
	            }
	        }

	        @media screen and (max-width: $small){
	            .breakdown {
	                table {
	                    font-size: 12px;
	                }
	    
	                td {
	                    padding: 1em 0;
	                }
	            }
	        }
	        
	    }
	    .axa-logo{
	        img{
	            min-width: 48px;
	            max-width: 48px;
				height: auto;
	            border-radius: 0px!important;
			}
			&.large{
				img.medium{
					width: 4em;
				}
	        }
	        
	        &.small{
				img{
					min-width: 35px;
					max-width: 35px;
				}
	        }
	        @media screen and (max-width: $small){
	            img{
	                min-width: 35px;
	                max-width: 35px;
	                height: auto;
	                border-radius: 0px!important;
	            }
	            
	            &.small{
	                img{
	                    min-width: 30px;
	                    max-width: 30px;
	                }
	            }
	        }

	    }
}