.card {
	&.dealership {
	    height: 414px;

	    .address {
	        display: block;
	        line-height: 20px;
	    }

	    .certified-badge {
	        width: 18px;
	        margin-top: -3px;
	    }

	    .badges {
	        img {
	            height: 1.2em;
	        }

	        .verified-badge {
	            height: 1em;
	        }
	    }

	    .icon-mat-arrow_drop_down { font-size: 14px; }
	    .infobar {
	        border-top: 1px solid $border;
	        bottom: 0;
	        left: 0;
	        width: 100%;

	        .dropdown {
	            top: 29px;
	            left: 0;
	        }
	    }

	    .location-wrapper {
	        display: flex;
	        justify-content: center;
	        flex-direction: column;
	        height: 40px;
	    }

	    &.test {
	        height: auto;
	    }

	    &.new {
	        height: auto;
	        .image {
	            height: 5em;
	        }
	    }

	    @media screen and (max-width: $medium) {
	        .badges > img { height: 1.45em; }
	    }
	}
}