.card {
	#testdriveform {
	    background-color: $darkgray;

	    img {
	        width: 100px;
	    }

	    header {
	        color: $white;
	    }

	    .pickadate__holder {
	        position: relative;

	        .pickadate__frame {
	            position: absolute;
	            top: 0;
	            z-index: index($elements, generic2);
	        }
	    }

	    .pickadate__button--clear, .pickadate__button--today {
	            color: $gray;
	        }
	}
}