.card {
	&.brand {
	    // height: 420px;

	    header {
	        min-height: 130px;
	        background-size: cover;
	        background-color: $darkgray;
	    }
	    .avatar {
	        left: 36%;
	        bottom: -3.125em;
	    }

	    .content { padding: 3.75em 1.25em 0 1.25em !important; }

	    .darklink { display: block; }

	    // @media screen and (max-width: $medium) {
	    //     .button { width: 92%; }
	    // }

	    &.news {

	    }
	}
}