// Footer Rules
@use 'utilities/universal/variables';
#pre-footer {
    background-color: variables.$darkgray;
    color: variables.$white;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    font-size: 16px;

    @media screen and (max-width: variables.$medium) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    div {
        flex: 1;
    }

    @for $i from 1 through 4 {
        div:nth-child(3n + #{$i}) {
            background-color: lighten(variables.$black, $i * 5%);
        }
    }
}

#sitefoot {
    background: variables.$bodybackground;
    font-size: 14px;

    img {
        height: 25px;
        position: relative;
        
        &.motodeal{
            height: 15px;
            top: 3px;
        }
    }

    .vertical-separator{
        height: 20px;
        top: 8px;
        position: relative;
    }

    .partners {
        a:first-of-type img {
            display: block;
            height: 22px;
        }
    }

    #sub-footer{
       .container{
            div.display-flex{
                align-items: baseline;
            }
       }
    }
}