// Desktop Head
@use 'utilities/universal/variables';

.sitehead {
    background-color: variables.$white;
    align-items: center;
    min-width: 1080px;
    // white-space: nowrap;

    vertical-align: center;

    .display-flex {
        align-items: center;
    }

    .hovercontent {
        width: 300px;

        > a {
            display: block;
        }
    }

    .comparison-toolbar {
        margin: 0 20px 0 0;
        padding: 0.3em 2em;

        .hovercontent {
            width: 400px;
            max-height: 500px;
            overflow-y: scroll;
        }
    }

    #nav-1 {
        font-size: 16px !important;
        .display-flex {
            align-items: center;
        }

        .icon-mat-compare_arrows {
           font-size: 1.5em;
           top: 2px;
        }

        .hovercontent {
            width: 500px;
            left: -20px;
        }

        > a {
            white-space: nowrap;
        }
    }

    &.nav-2 {
        font-size: 13px;
        justify-content: space-between;

        a {
            &.active, &:hover {
                background-color: #f1f1f1;
                border-radius: 7px;
                color: variables.$copycolor;
            }
        }

        img {
            position: relative;
            top: -1px;
        }
    }

    &.nav-1 {
        font-size: 16px !important;
        &.persistent {
            position: sticky;
            position: -webkit-sticky;
            top: 0;
            background: variables.$white;
            z-index: index(variables.$elements, sitehead);
            // @include box-shadow-2();
        }
    }

    // IDs
    #brand {
        .full-logo {
            width: 150px;
        }

        .icon-logo {
            width: 60px;
        }
    }

    #account-link {
        .icon-mat-account_circle {
            top: 2px;
            font-size: 16px;
        }
    }

    #account-link .hoverdropdown {
        padding-top: 0.5em;
    }

    #main-nav {
        flex-grow: 2;
    }


    #new-car { //This styles are fucked up and way too long. fix!!!
        nav a:last-of-type {
            width: 222px;
        }

        .hovercontent {
            width: 930px;

            > .display-flex {
                align-items: start;
                > * {
                    flex: 1;

                    &:nth-child(2) {
                        flex: 2;
                    }
                }
            }
        }

        .card-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 90px);
            grid-gap: 0;

            > div:hover {
                background-color: variables.$bodybackground;
            }

            a {
                padding: 0;
                &:hover {
                    background: none;
                }
            }

            img {
                max-height: 55px;
                display: block;
            }
        }

        #car-makes {
            .card-grid {
                    grid-template-rows: repeat(3, 90px);
                    grid-template-columns: repeat(3, 100px);
            }
        }
    }

    #car-of-the-week {
        .section-title { padding-top: 0px !important; }

        .section-car-name  a { 
            padding: 0px;

            &:hover { background-color: transparent !important; }
        }
    }

    #sister-site-links {
        img {
            width: 27px;
        }

        .active {
            font-weight: 400;
        }
    }
}

#cookie-warning.bottomsheet {
    opacity: 0;
    animation: slide-from-bottom 0.5s ease-in 1s 1 normal forwards;
}

@keyframes slide-from-bottom {
    0% {
        bottom: -300px;
        opacity: 0;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}
